flagpy==1.0.3
gspread_pandas==3.2.2
htbuilder==0.6.1
matplotlib==3.7.1
pandas==2.0.1
Pillow==9.5.0
Pillow==9.5.0
plotly==5.14.1
protobuf==3.20.3
seaborn==0.12.2
streamlit==1.22.0
streamlit_authenticator==0.1.5
streamlit_extras==0.2.7
streamlit_option_menu==0.3.2
